/* Cards Page */
.board-form{
position: relative;
width: 414px;
height: 921px;
background: #FFFFFF;
}

.new-board{
position: absolute;
height: 36px;
left: 0%;
right: 0%;
top: calc(50% - 36px/2);
margin-top: 40px;
font-family: 'Avenir';
font-style: normal;
font-weight: 800;
font-size: 26px;
line-height: 36px;
color: #000000;
}

.name{
position: absolute;
width: 49px;
height: 25px;
left: 26px;
top: 157px;
font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #000000;
}

.card1{
position: absolute;
width: 362px;
height: 40px;
left: 26px;
top: 190px;
position: absolute;
width: 362px;
height: 40px;
left: 26px;
top: 190px;
background: #F4F4F4;
border-radius: 10px;
}

.description{
position: absolute;
width: 92px;
height: 25px;
left: 26px;
top: 263px;
font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #000000;
}

.card2 {
position: absolute;
width: 362px;
height: 203px;
left: 26px;
top: 296px;
position: absolute;
width: 362px;
height: 203px;
left: 26px;
top: 296px;
background: #F4F4F4;
border-radius: 10px;
}

.submit-btn{
position: absolute;
width: 362px;
height: 40px;
left: 30px;
top: 849px;
background: #F8BD1C;
border-radius: 4px;
border: none;
outline: none;
display: flex;             /* ← 中の文字を中央にするため */
justify-content: center;
align-items: center;
font-family: 'Avenir';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
}


