
/* Boards */
.boards {
  position: absolute;
  width: 56px;
  height: 25px;
  left: 30px;
  top: 17px;

  font-family: 'Avenir';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

/* Line */
.line{
position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 58px;
}

/* User */
.header_avatar{
position: absolute;
width: 40px;
height: 40px;
left: 352px;
top: 10px;
}
