/* 全体レイアウト */
.signup-container {
  position: relative;
  width: 100%;
  max-width: 414px; /* ← Figmaの基準幅 */
  margin: 0 auto;
  background: #ffffff;
  padding-top: 150px;
}

body {
  margin: 0;
  padding: 0;
}

/* Boards */
.boards{
position: absolute;
width: 56px;
height: 25px;
left: 30px;
top: 17px;

font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* ボックスの高さと同一 */

color: #000000;
}

/* Line */
.line{
position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 58px;
}

/* Brackets */
.brackets{
position: absolute;
width: 183px;
height: 36px;
left: 26px;
top: 92px;
}


/* それぞれの入力欄 */
.card3, .card4, .card5 {
  position: absolute;
  width: 362px;
  height: 40px;
  left: 26px;
  background: #F4F4F4;
  border-radius: 10px;
}

/* email */
.card3 {
  top: 190px;
}

/* password */
.card4 {
  top: 295px;
}

/* password confirmation */
.card5 {
  top: 385px;
}

/* Tag */
.signup-submit {
  position: absolute;
  width: 362px;
  height: 40px;
  left: 30px;
  top: 849px;   /* ← Figma と同じ */
  background: #F8BD1C;
  border-radius: 4px;

  /* Figma の transform: matrix(1, 0, 0, -1, 0, 0) は上下反転の意味。
     Web では不要なので削除してOK */
  border: none;
  outline: none;
  display: flex;             /* ← 中の文字を中央にするため */
  justify-content: center;
  align-items: center;
}

.submit {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;

  /* Figma の位置情報 (left/top) は Web では不要！
     親が flex で中央揃えしてくれるため削除でOK */
}


/* Name */
.name1{
position: absolute;
width: 44px;
height: 25px;
left: 26px;
top: 161px;

font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* ボックスの高さと同一 */

color: #000000;
}
/* Name */
.name2{
position: absolute;
width: 76px;
height: 25px;
left: 26px;
top: 263px;

font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* ボックスの高さと同一 */

color: #000000;
}
/* Name */
.name3{
position: absolute;
width: 186px;
height: 25px;
left: 26px;
top: 351px;

font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* ボックスの高さと同一 */

color: #000000;
}


