<div class="texts-wrapper">
   <div class="contents-title text-center">
    <% if user_signed_in? %>
      <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>

     <div class="all-board">
        All Board
      </div>
     <div class="row">
       <% @texts.each do |text| %>
         <div class="col-12 col-md-6 col-lg-4">
           <div class="card">
             <img class="card-img-top" src="https://picsum.photos/30/20.jpg" alt="画像">
               <div class="card-body">
                 <p class="card-title">Card title</p>
               </div>
           </div>
         </div>
       <% end %>
     </div>
   </div>
 </div>